body{
    background-color: silver;
}
.obMenu{
    width: 100%;
    margin: 0px;
    padding:0%;
}

a{
    text-decoration: none;
    background: #400;
    color: #fff;
    padding: 0px;
    margin: 0px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 1200px;
    height: 70px;
    font-size: 18px;
    box-shadow: 5px 20px 30px #000;
    box-shadow: 5px 30px 30px #000;

}

a:hover{
    background-color: rgba(250, 0, 0, 0.50);
    color: #004;
    font-weight: 700;
    border: 2px solid #000;

}
